<h1>{content.title}</h1>
<h2>{content.tagline}</h2>

<div class="formWrapper">
	<form id="accountEdit" action="/api/users" method="PUT">
    	<input type="hidden" name="_method" value="PUT"/>
		<div class="formError"></div>
		<div class="formSuccess">Your changes have been saved</div>
		<div class="inputWrapper">
			<div class="inputLabel">Name</div>
			<input type="text" name="name" placeholder="John Miller" />
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">E-mail</div>
			<input type="text" name="email" disabled="disabled" placeholder="E-mail" />
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">Address</div>
			<input type="text" name="address" placeholder="Address" />
		</div>
		<div class="inputWrapper">
			<div class="inputLabel">Street</div>
			<input type="password" name="street" placeholder="Street" />
		</div>
		<div class="inputWrapper ctaWrapper">
			<button type="submit" class="cta blue">Save Changes</button>
		</div>
	</form>
</div>

<hr />
<h2>Change your password</h2>
<div class="formWrapper">
	<form id="accountEditPassword" action="/api/users" method="PUT">
    	<input type="hidden" name="_method" value="PUT"/>
		<div class="formError"></div>
		<div class="formSuccess">Your new password has been saved</div>
    	<input type="hidden" name="email" />
		<div class="inputWrapper">
			<div class="inputLabel">Choose a password</div>
			<input type="password" name="password" placeholder="Make it a strong one!" />
		</div>
		<div class="inputWrapper ctaWrapper">
			<button type="submit" class="cta blue">Save Password</button>
		</div>
	</form>
</div>
