<h1>{content.title}</h1>
<h2>{content.tagline}</h2>

<div class="items">

	<table>
		<tr>
			<th align="left">Qty.</th><th align="left">Pizza</th><th align="center">Price</th><th align="right">Total price</th>
		</tr>
		<tr>
			<td align="right" colspan="3"></td><td align="right" class="total">Total: $0.00</td>
		</tr>
		<tr>
			<td align="right" colspan="3"></td><td align="right" class="shipping">Shipping: $0.00</td>
		</tr>		
		<tr>
			<th align="right" colspan="3"></th><th align="right" class="subtotal">Subtotal: $0.00</th>
		</tr>
		<input type="hidden" name="email" value="" />
	</table>

	<span class="cta green place-order">Place Order</span>

</div>