<h1>{content.title}</h1>
<h2>{content.tagline}</h2>

<div class="orders">

	<div class="order">
		<h2 style="float:left;text-align:left;">Order #1 - DATE</h2>
		<table>
			<tr>
				<th style="width:10%;"align="left">Qty.</th><th style="width:20%;" align="left">Pizza</th><th style="width:20%;" align="center">Price</th><th style="width:30%;" align="right">Total price</th>
			</tr>
			<tr>
				<td align="right" colspan="3"></td><td align="right" class="total">Total: $0.00</td>
			</tr>
			<tr>
				<td align="right" colspan="3"></td><td align="right" class="shipping">Shipping: $0.00</td>
			</tr>		
			<tr>
				<th align="right" colspan="3"></th><th align="right" class="subtotal">Subtotal: $0.00</th>
			</tr>
		</table>
	</div>
	<hr />

	<div class="order">
		<h2 style="float:left;text-align:left;">Order #2 - DATE</h2>
		<table>
			<tr>
				<th style="width:10%;"align="left">Qty.</th><th style="width:20%;" align="left">Pizza</th><th style="width:20%;" align="center">Price</th><th style="width:30%;" align="right">Total price</th>
			</tr>
			<tr>
				<td align="right" colspan="3"></td><td align="right" class="total">Total: $0.00</td>
			</tr>
			<tr>
				<td align="right" colspan="3"></td><td align="right" class="shipping">Shipping: $0.00</td>
			</tr>		
			<tr>
				<th align="right" colspan="3"></th><th align="right" class="subtotal">Subtotal: $0.00</th>
			</tr>
		</table>
	</div>
	<hr />


</div>